<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Mobile verificaton</h1>
    <input type="number" id="mobile" name="mobile" placeholder="enter the mobile number"/>
    <button id="sendotp">Send OTP</button>
    <input type="number" id="otp" name="otp" placeholder="enter Otp"/>
    <button>verify</button>
    <script src="/js/VerifyMobile.js"></script>
</body>
</html>